.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  .content, .container{
      display: flex;
  }

  .container {
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 100%;
  }
  
  .puzzle-phrase {
    display: flex;
    font-family: 'roboto', sans-serif;
    font-size: 2em;
    width: 100%;
    justify-content: center;
    align-items: center;
  
    .puzzle-piece {
        display: flex;
        min-width: 50px;
        height: 50px;
        justify-content: center;
        align-items: flex-end;
    }
  
    .puzzle-blank {
      border-bottom: 5px solid #555;
      margin: auto 3px;
    }
  }

  .guessed-right {
      background-color: green;
  }

  .guessed-wrong {
      background-color: red;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    input {
        width: 100%;
    }
  }