body * {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif"; }

.content, .container {
  display: flex;
  flex-direction: column; }

.container {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%; }

.nav {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  align-items: center; }
  .nav li {
    list-style: none;
    margin-left: 5px; }

.play-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.puzzle-phrase {
  display: flex;
  font-size: 2em;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #555; }
  .puzzle-phrase .piece {
    display: flex;
    min-width: 50px;
    height: 50px;
    justify-content: center;
    align-items: flex-end; }
  .puzzle-phrase .letter {
    border-bottom: 5px solid #555;
    margin: auto 3px; }

.guess-block {
  display: flex;
  max-width: 25%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .guess-block .guess-button {
    font-size: 1.1em;
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 10px; }

form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: center; }
  form input {
    width: 100%;
    font-size: 2em;
    border: none;
    border-bottom: 5px solid #555;
    padding: 5px;
    text-align: center; }
    form input:focus {
      outline: none; }

.button-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; }
  .button-block button {
    font-size: 1.5em;
    padding: 15px;
    border-radius: 3px;
    border: none;
    color: #fff;
    transition: all .5s ease; }
    .button-block button.large {
      min-width: 100%;
      padding: 20px;
      border-radius: 8px;
      margin-bottom: 15px; }
    .button-block button#phrase-setter {
      background-color: #33aa31;
      min-width: 50%; }
      .button-block button#phrase-setter:hover {
        cursor: pointer;
        background-color: #555; }
    .button-block button#phrase-clearer {
      background-color: rgba(244, 66, 96, 0.9);
      min-width: 25%; }
      .button-block button#phrase-clearer:hover {
        cursor: pointer;
        background-color: #555; }
