@import './scss/globals';
@import './scss/layout';
@import './scss/navigation';
  
  .puzzle-phrase {
    display: flex;
    font-family: 'roboto', sans-serif;
    font-size: 2em;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #555;
  
    .puzzle-piece {
        display: flex;
        min-width: 50px;
        height: 50px;
        justify-content: center;
        align-items: flex-end;
    }
  
    .puzzle-blank {
      border-bottom: 5px solid #555;
      margin: auto 3px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;

    input {
        width: 100%;
        font-size: 2em;
        border: none;
        border-bottom: 5px solid #555;
        padding: 5px;
        text-align: center;

        &:focus {
            outline: none;
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;

        button {
            font-size: 1.5em;
            padding: 15px;
            border-radius: 3px;
            border: none;
            color: #fff;
            transition: all .5s ease;

            &#phrase-setter {
                background-color: $green;
                min-width: 50%;

                &:hover {
                    cursor: pointer;
                    background-color: #555;
                }
            }

            &#phrase-clearer {
                background-color: $red;
                min-width: 25%;

                &:hover {
                    cursor: pointer;
                    background-color: #555;
                }
            }

        }
    }
  }

.play-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

.guess-block {
    display: flex;
    max-width: 25%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .guess-button {
        font-size: 1.1em;
        padding: 5px 10px;
        margin-top: 10px;
        margin-right: 10px;
    }
}