body * {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif"; }

.content, .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.container {
  display: flex;
  width: 100%;
  height: 100%; }

.nav {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  align-items: center; }
  .nav li {
    list-style: none;
    margin-left: 5px; }

.play-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 60%; }

.puzzle-phrase {
  display: flex;
  font-size: 2em;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #555; }
  .puzzle-phrase .piece {
    display: flex;
    min-width: 50px;
    height: 50px;
    justify-content: center;
    align-items: flex-end; }
  .puzzle-phrase .letter {
    border-bottom: 5px solid #555;
    margin: auto 3px; }

.guess-block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.done-block {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .done-block .status {
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center; }
    .done-block .status.win {
      color: #33aa31; }
    .done-block .status.loss {
      color: rgba(244, 66, 96, 0.9); }

form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: center; }
  form .input-row {
    width: 100%;
    flex-direction: row; }
  form .input-container {
    width: 100%;
    flex-direction: column; }
    form .input-container.small {
      width: 49%; }
    form .input-container input {
      width: 100%;
      font-size: 2em;
      border: none;
      border-bottom: 5px solid #555;
      padding: 5px;
      text-align: center; }
      form .input-container input:focus {
        outline: none; }
    form .input-container label {
      display: block;
      font-size: 1.5em;
      min-width: 100%;
      text-align: left; }

.error {
  width: 100%;
  background-color: rgba(244, 66, 96, 0.1);
  color: rgba(244, 66, 96, 0.9);
  font-size: 1.5em; }

.button-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; }
  .button-block.guess-block {
    justify-content: center; }
  .button-block button {
    font-size: 1.5em;
    padding: 15px;
    border-radius: 3px;
    border: none;
    color: #fff;
    transition: all .5s ease; }
    .button-block button:focus {
      outline: none; }
    .button-block button.large {
      width: 100%;
      padding: 20px;
      border-radius: 8px;
      margin-bottom: 15px; }
    .button-block button.medium {
      min-width: 50%; }
    .button-block button.guess {
      padding: 20px 0;
      margin-top: 10px;
      margin-right: 10px;
      width: 100px; }
    .button-block button:hover {
      cursor: pointer;
      background-color: #555; }
    .button-block button.go {
      background-color: #33aa31; }
      .button-block button.go:hover {
        background-color: rgba(51, 170, 49, 0.5); }
    .button-block button.stop {
      background-color: rgba(244, 66, 96, 0.9); }
      .button-block button.stop:hover {
        background-color: rgba(244, 66, 96, 0.5); }
