form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;

    .input-row {
        width: 100%;
        flex-direction: row;
    }

    .input-container {
        width: 100%;
        flex-direction: column;

        &.small {
            width: 49%;
        }

        input {
            width: 100%;
            font-size: 2em;
            border: none;
            border-bottom: 5px solid $grey;
            padding: 5px;
            text-align: center;
    
            &:focus {
                outline: none;
            }
        }

        label {
            display: block;
            font-size: 1.5em;
            min-width: 100%;
            text-align: left;
        }
    }
}

.error {
    width: 100%;
    background-color: rgba( $lightRed, .1);
    color: $red;
    font-size: 1.5em;
}

.button-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    button {
        font-size: 1.5em;
        padding: 15px;
        border-radius: 3px;
        border: none;
        color: $white;
        transition: all .5s ease;

        &.large {
            width: 100%;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 15px;
        }

        &.medium {
            min-width: 50%;
        }

        &.go {
            background-color: $green;

            &:hover {
                cursor: pointer;
                background-color: $grey;
            }
        }

        &.stop {
            background-color: $red;

            &:hover {
                cursor: pointer;
                background-color: $grey;
            }
        }

    }
}