form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;

    .input-row {
        width: 100%;
        flex-direction: row;
    }

    .input-container {
        width: 100%;
        flex-direction: column;

        &.small {
            width: 49%;
        }

        input {
            width: 100%;
            font-size: 2em;
            border: none;
            border-bottom: 5px solid $grey;
            padding: 5px;
            text-align: center;
    
            &:focus {
                outline: none;
            }
        }

        label {
            display: block;
            font-size: 1.5em;
            min-width: 100%;
            text-align: left;
        }
    }
}

.error {
    width: 100%;
    background-color: rgba( $lightRed, .1);
    color: $red;
    font-size: 1.5em;
}