body * {
    box-sizing: border-box;
    font-family: $fontStack;
}

.content, .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    
    height: 100%;
}